 <div data-role="page" id="index">
            <div data-theme="b" data-role="header">
                <h1>Index page</h1>
            </div>
            
           <div data-role="controlgroup" data-type="horizontal" id="buttoncontainer">
			<a href="index.html" data-role="button">Yes</a>
			</div>
        </div>    


