 <div class="container-liquid text">
    <div class="row">
    	<div class="col-xs-1"></div>
      <div class="col-xs-10">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="panel-title mob-title"><i class="fa fa-bar-chart-o"></i> CREATE NEW JOB</div>
          </div>
          <div class="panel-body">
            <div id="morris-chart-area"></div>
          </div>
          
        </div>
      </div>
    </div><!-- /.row -->
</div>



<div class="container-liquid text">
  <div class="row">
  	<div class="col-xs-1">
  	</div>
    <div class="col-xs-10">
    	<a class="btn btn-primary btn-lg btn-block mob-btn-back" href="#">Main Menu</a>
    </div>
    <div class="col-xs-1">
    </div>
  </div>
</div>
<br>
<div class="container-liquid text top-pad">
  <div class="row">
  	<div class="col-xs-1">
  	</div>
    <div class="col-xs-10 mob-title">
    	CREATE NEW JOB
    </div>
    <div class="col-xs-1">
    </div>
  </div>
</div>
<br><br>
<div class="container-liquid text">
  <div class="row">
  	<div class="col-xs-1">
  	</div>
    <div class="col-xs-10">
    	<div class="input-group">
		  <span class="input-group-addon mob-input-field"></span>
		  <input type="text" class="form-control mob-input-field" placeholder="Scan Job ID">
		</div>
    </div>
    <div class="col-xs-1">
    </div>
  </div>
</div>
<br>
<div class="container-liquid text">
  <div class="row">
  	<div class="col-xs-1">
  	</div>
    <div class="col-xs-10">
    	<div class="input-group">
		  <span class="input-group-addon mob-input-field"></span>
		  <input type="text" class="form-control mob-input-field" placeholder="Scan Part ID">
		</div>
    </div>
    <div class="col-xs-1">
    </div>
  </div>
</div>
<br>
<div class="container-liquid text">
  <div class="row">
  	<div class="col-xs-1">
  	</div>
    <div class="col-xs-10">
      <a class="btn btn-primary btn-lg btn-block mob-btn" href="#"><i class="fa fa-sign-out"></i> BEGIN JOB</a>
    </div>
    <div class="col-xs-1">
    </div>
  </div>
</div>
  